*{
  padding: 0px;
  margin: 0px;
}


.header{position: fixed;
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.subbox{width: 200px;
  height: 70px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.subbox ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;


}
/* .subbox ul li a{text-decoration: none;
  color: black;
} */



.subbox ul li a {
  text-decoration: none;
  color: black;
  font-size: larger;
  position: relative;
  display: inline-block;
}


.subbox ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease;
}

/* On hover, expand the line */
.subbox ul li a:hover::after {
  width: 100%;
}


.subhead{margin-left: 5%;
  width: 450px;
  height: 60px;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
 
}

.logo p{ margin-top: -5px;
  color: gray;
}


.Tf{margin-top: 10px;
  width: 100%;
 
  /* background-color:yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 
  /* border: 1px solid gray; */
 
}
.form{margin-top:60px;
  /* border: 1px solid red; */
  flex-wrap: wrap;
  padding: 25px;
    border-radius: 5px;
   box-shadow:0 0  5px 5px rgb(218, 215, 215);
  width: 350px;


  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  gap: 4px;
}
.form-group{
  
  display: flex;
  align-items: start;
  justify-content:center;
  flex-direction: column;
  gap: 4px;
}
.form-group input{height: 30px;
width: 250px;
padding: 3px;
border-radius: 5px;
border: 1px solid lightgray;}





.bt {margin-top: 20px;
  background-color:#8cbcf3;
  color: #000;          /* makes the text visible */
  font-weight: bold;     /* optional, for emphasis */
  width: 100px;
  height: 35px;
  border: none;          /* removes default border */
  border-radius: 5px;
  cursor: pointer;       /* shows pointer on hover */
  transition: 0.2s;      /* smooth hover effect */
}

.bt:hover {
  background-color:#68a7f0; /* slightly darker on hover */
}

/* ---------------------------task result----------------------------------------------------- */


.tr{
  width: 100%;
 
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.box{
  width: 100%;
  height: 100px;
  background-color: lightblue;
  margin: 20px;
  padding: 10px;
}


.card{
  width: 250px;
  padding: 10px;
 
  border: 1px solid rgb(235, 232, 232);background-color:aliceblue;
  border-radius: 5px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}



.mainb{
  width: 100%;

  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.right{
  margin-top: 70px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50%;
   flex-direction: column;
 
  /* background-color: red; */
  
 
 

}
.left{ display: flex;
    margin-top: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;

  /* background-color: rgb(0, 255, 94); */
 
}


.container1{list-style: none;

  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
 overflow-y: scroll;
 padding-top: 10px;
 
}

.card1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
  width: 280px;
  height: 160px;
  border-radius: 15px;
  /* border: 1px solid lightgray; */
  box-shadow: 0 0 5px 2px lightgray;
}
/* .card1 p{display: flex;
justify-content: space-between;
align-items: start;
gap: 10px;} */

.search{
  width: 100%;
  height: 60px;
  background-color:rgb(182, 216, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search input{
  padding-left: 10px;
  font-size:small;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.search button {display: flex;
  width: 50px;
  height: 35px;
   border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  cursor: pointer;
  border: none;
}
.resultbox1{padding: 15px;
  
  margin-top: 20px;
   border-radius: 20px;
  width: 90%;
  height: 100vh;
  background-color:aliceblue;
  /* overflow: scroll; */
}
.resultbox{padding: 15px;
    margin-top: 20px;
  border-radius: 20px;
  width: 90%;
  height: 100vh;
  background-color:aliceblue;
  overflow: scroll;
}






.btt{background-color: lightblue;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin: 20px;
  color:black;
}