*{
  padding: 0px;
  margin: 0px;
}


.header{
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: start;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.subhead{margin-left: 5%;
  width: 450px;
  height: 60px;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
 
}
.logo{
  /* border: 1px solid red; */
}
.logo p{ margin-top: -5px;
  color: gray;
}